<span class="svg-wrapper">{{ 'icon-bag-2.svg' | inline_asset_content }}</span>
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
<span class="bci-header__cart-count">({{ cart.item_count }})</span>
